<script type="text/x-handlebars">
  <div class="container">
    <div class="page-header">
      <h1>Issued</h1>
      <p class="lead">The free open source Issue Tracker</p>
      {{ partial "header" }}
    </div>
    <div class="row">
    </div>
  </div>
  {{ outlet }}
</script>
