<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'users'}}Users{{/link-to}}</li>
    <li>{{#link-to 'issues'}}Issues{{/link-to}}</li>
    <li>{{#link-to 'tags'}}Tags{{/link-to}}</li>
  </ul>
  {{#if userLoggedIn}}
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
    </ul>
    <p class="navbar-text pull-right">Logged in as <strong>{{userName}}</strong></p>
  {{/if}}
</nav>
