<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h4>Issues</h4>
      {{#link-to "issues.new" class="btn btn-primary"}}New Issue{{/link-to}}
      <table class="table">
        <thead>
          <tr><th>Title</th><th>Tags</th></tr>
        </thead>
        <tbody>
          {{#each model}}
          <tr>
            <td>{{#link-to 'issues.show' this}}{{title}}{{/link-to}}</td>
            <td>{{tagString}}</td>
          </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-lg-8">
      {{ outlet }}
    </div>
  </div>
</div>
