<form {{action "newUser" on="submit"}}>
  <p>Name: {{ input type="text" value=user_name }}</p>
  <p>Email: {{ input type="text" value=user_email }}</p>
  <p>Avatar: {{ input type="text" value=user_avatar }}</p>
  <input type="submit" value="Add" />
</form>
